#kysose C# gitignore base v1
obj/
bin/
.vs/
#since this is a repository of a collection of C# source codes, every obj, bin and .vs -folder is ignored regardless of path
#if this .gitignore would use an asterisk after the folder slash e.g. obj/* 
#then every obj -folder would be included, only their content would be ignored, so github would have many empty obj -folders


#---- if you added this .gitignore after you pushed without this .gitignore
#or  used a different .gitignore
#or added/removed ignored folders or files to this .gitignore
#clean the repository as follows:
#in GIT BASH
#git rm -r --cached .    <- remove all content from the remote repository, local files are unaffected
#git add . <- add everything back, this time including the .gitignore
#git commit -m "Updated .gitignore, cleaned ignored files from the repository" <- commit the clean
#git push